button{
  border-radius: .3rem;
  background-color: rgb(179, 113, 14);
  
}
#beeHome{
  
  text-align: center;
  align-items: center;
}
#beeHome img{
  width: 612px;
  height: 328px;  
}

h1{
  text-align: center;
}
  #lol{
    margin: auto;
    text-align: center;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: .5rem;
    padding: 15px;
    color: orange;
  }
  .joinNow{
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    width: 600px;
    border-radius: .5rem;
    padding: 15px;
  }
 